# archivos .out
md5
vista
slave
*.out
result/*

# creados por el programa mismo
md5_result.txt

# creados por programas de uso personal
.bash_history
.DS_Store
.vscode
.idea
.git_history
.idea

# PVS
report.tasks
PVS-Studio.log
strace_out
.config
