# archivos .out
md5
vista
slave
junior_slave
PipeGroupTest
*.out

# creados por programas de uso personal
.bash_history
.DS_Store
.vscode
.idea
.git_history
.idea

personal.c

# creados por el programa mismo
result.txt

# PVS
report.tasks
PVS-Studio.log
strace_out
.config
